:root {
    --clr-primary: #caa661;
    --clr-secondary: #21252B;
    --clr-third: #f5f6f6;
    --clr-white: #FFFFFF;
    --clr-black: #212721;
    --clr-grey: #5f656d;
    --transition: all .2s linear;
}

@font-face {
    font-family: 'Hind';
    src: url('./font/Hind-SemiBold.ttf') format('woff2');
url('./font/Hind-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}