@import "custom-styles.css";

header {
    background-color: var(--clr-secondary);
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Hind', sans-serif;
}

.active {
    color: var(--clr-primary) !important;
}

a {
    color: var(--clr-white) !important;
}

a:hover {
    color: var(--clr-primary) !important;
}

/*banner*/
.banner {
    max-width: 100% !important;
    background-color: var(--clr-secondary);
    height: 700px;
    display: flex;
}

.banner-title {
    color: var(--clr-white);
    font-size: 60px;
    font-weight: 600;
    line-height: 1.35em;
    display: grid;
    grid-template-rows: auto;
    width: 80%;
}

.banner-left-wrapper {
    padding: 0 2% 0 12%;
    margin: auto 0;
}

.banner-line {
    background-color: #caa661;
    width: 169px;
    height: 2px;
    margin: 50px 0;
}

.banner-text {
    color: var(--clr-white);
    width: 80%;
    line-height: 1.643em;
    letter-spacing: 0;
}

.banner-btn {
    border: 2px solid var(--clr-primary);
    color: var(--clr-white);
    text-transform: uppercase;
    background: transparent;
    letter-spacing: 0.7px;
    line-height: 1.32em;
    font-size: 14px;
    margin-top: 45px;
    padding: 13.5px 20.5px 11.5px 20.5px;
}

svg {
    margin-top: -4px;
}

.banner-btn:hover {
    background-color: var(--clr-primary);
    transition: var(--transition);
}

.banner-img {
    width: 100%;
    height: 100%;
}

/*widget*/
.container {
    max-width: 1195px !important;
}

.widget {
    padding: 107px 0 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.widget-title {
    color: var(--clr-primary) !important;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.344em;
    text-align: center;
}

.widget-line {
    background-color: #caa661;
    width: 70px;
    height: 2.5px;
    margin: 19px 0 24px 0;
}

.widget-text {
    text-align: center;
    color: var(--clr-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.643em;
    max-width: 864px;
}

.widget-img {
    margin-top: 25px;
}

/*selection*/
.pt-45 {
    padding-top: 45px;
}

.mb-45 {
    margin-bottom: 45px;
}

.selection {
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
}

.selection-img {
}

.selection-content {
    width: 50%;
    max-width: 570px;
    padding: 72px 82px;
    background-color: var(--clr-third);
}

.selection-title {
    font-size: 26px;
    line-height: 1.5em;
    letter-spacing: 0.7px;
}

.selection-line {
    background-color: #caa661;
    width: 72px;
    height: 2.5px;
    margin: 19px 0 24px 0;
}

.selection-text {
    color: var(--clr-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.643em;
    max-width: 864px;
    padding-bottom: 90px;
}

.selection-btn {
    background-color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    padding: 13.5px 29px 11.5px 29px;
    color: var(--clr-white);
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 1.32em;
    font-size: 14px;
    font-weight: bold;
}

.selection-btn:hover {
    background-color: var(--clr-secondary);
    border: 2px solid var(--clr-secondary);
    transition: var(--transition);
}

/*projects*/
.projects {
    padding-top: 48px;
}

.projects-text-content-wrapper, .our-services-text-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-title, .our-services-title {
    color: var(--clr-primary);
    font-size: 34px;
    font-weight: 600;
    text-transform: none;
    line-height: 1.344em;
}

.projects-line, .our-services-line {
    background-color: var(--clr-primary);
    width: 72px;
    height: 2.5px;
    margin: 10px 0 18px 0;
}

.projects-text, .our-services-text {
    color: var(--clr-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.643em;
    padding-bottom: 30px;
}

.projects-img-wrapper {
    display: flex;
}

.projects-img-half, .our-services-about-half {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.projects-img {
    width: 50%;
    object-fit: cover;
    height: 605px;
    z-index: -1;
}

.projects-img-before {
    opacity: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    height: 605px;
    padding: 0 40px;
    background-color: var(--clr-secondary);
    transition: var(--transition);
}

.projects-img-before-left {
    margin-left: 25%;
}

.projects-img-before:hover {
    opacity: 0.9;
    transition: var(--transition);
}

.projects-img-before-title {
    color: var(--clr-white);
    font-size: 28px;
    font-weight: 600;
    line-height: 1.38em;
}

.projects-img-before-text {
    color: var(--clr-white);
    font-size: 15px;
    font-weight: 400;
    line-height: 1.643em;
}

.projects-img-before-link {
    font-size: 14px;
    font-weight: 600;
    color: var(--clr-primary) !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

/*our-services*/
.our-services {
    padding: 78px 0;
}

.our-services-about-half {
    justify-content: space-between;
}

.our-services-about-wrapper {
    width: 31%;
}

.our-services-about {
    display: flex;
    flex-direction: column;
}

.our-services-about-avg {
    fill: #cecfd0;
    margin-left: -15px;
    width: 74px;
    height: 74px;
    transition: var(--transition);

}

.our-services-about-avg:hover {
    transform: scale(1.1);
    transition: var(--transition);
}

.our-services-about-title {
    color: #222931;
    font-size: 28px;
    line-height: 1.38em;
    margin: 10px 0;
}

.our-services-about-text {
    color: var(--clr-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.643em;
    padding-bottom: 30px;
}

/*about-us*/
.about-us {
    padding-bottom: 105px;
}

.about-us-overlay {
    background-color: black;
    background-image: url('https://ld-wp73.template-help.com/wordpress/prod_14993/v4/wp-content/uploads/2019/08/architect-img1.png');
    opacity: 0.9;
    padding: 130px 0;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-title, .about-us-text {
    color: var(--clr-white);
}

.about-us-line {
    background-color: #caa661;
    width: 65px;
    height: 2.5px;
    margin: 15px 0 20px 0;
}

.about-us-counter {
    background-color: var(--clr-secondary);
    display: flex;
}

.about-us-counter-wrapper {
    padding: 100px 0;
    width: 25%;
}

.about-us-content-number {
    color: var(--clr-white);
    font-size: 58px;
    font-weight: 700;
    letter-spacing: -1px;
}

.about-us-content-line {
    background-color: var(--clr-primary);
    width: 65px;
    height: 2.5px;
    margin: 10px 0 15px 0;
}

.about-us-content-text {
    color: var(--clr-white);
    font-size: 15px;
}

/*our-team*/
.our-team {
    padding-bottom: 81px;
}

.our-team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-team-title {
    color: var(--clr-primary);
}

.our-team-line {
    background-color: var(--clr-primary);
    width: 65px;
    height: 2.5px;
    margin: 15px 0 20px 0;
}

.our-team-text {
    color: var(--clr-grey);
}

.our-team-img-wrapper {
    margin-top: 50px;
}

.our-team-img {
    height: 370px;
}

.our-team-name {
    margin-top: 15px;
    cursor: pointer;
}

.our-team-name:hover {
    color: var(--clr-primary);
    transition: var(--transition);
}

i {
    color: var(--clr-primary);
    font-size: 15px;
}

.our-team-line-grey {
    background-color: var(--clr-grey);
    width: 65px;
    margin: 20px 0;
    height: 2px;
    opacity: .5;
}